<IfModule mod_rewrite.c>
    RewriteEngine On
     RewriteBase /vacancy-hub/

    # Redirect all requests to the index.php file, unless it's a file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]

</IfModule>
